.FAQIntro {
    margin-top: -4em;
    padding: 0;
}

.QMark {
    max-width: 100%;
    width: 100%;
}

.colL {
    width: 60%;
}

.colR {
    width: 40%;
}

.colL h1 {
    color: var(--main-white);
    font-size: 73px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: var(--main-font);
}

@media screen and (max-width: 500px) {
    .FAQIntro {
        margin-top: -2em;
    }
    .colL, .colR {
        width: 100%;
    }
    .colL h1 {
        font-size: 45px;
    }
}
