.FAQIntro {
    margin-top: -5em;
}

.QMark {
    max-width: 100%;
    width: 100%;
}

.colLF {
    width: 60%;
}

.colRF {
    width: 40%;
}

.colLF h1 {
    color: var(--main-white);
    font-size: 73px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: var(--main-font);
}

@media screen and (max-width: 500px) {
    .FAQIntro {
        margin-top: -2em;
    }
    .colLF, .colRF {
        width: 100%;
    }
    .colLF h1 {
        font-size: 45px;
    }
}
